includes:
#    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        # Config files are the correct place to call env()
        - identifier: larastan.noEnvCallsOutsideOfConfig
