name: CI (Format Checks, Type Checking and Tests)

on:
  push:
    paths:
      - '**.php'
      - '.github/workflows/ci.yml'
      - 'phpstan.neon.dist'
      - 'phpunit.xml.dist'
      - 'composer.json'
      - 'composer.lock'

jobs:
  format-check:
    name: Check Code Style
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none

      - name: Install composer dependencies
        uses: ramsey/composer-install@v3

      - name: Check PHP code style
        run: ./vendor/bin/pint --test

  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: format-check

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none

      - name: Install composer dependencies
        uses: ramsey/composer-install@v3

      - name: Run PHPStan
        run: ./vendor/bin/phpstan --error-format=github

  test:
    name: Tests (P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    needs: phpstan

    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        php: [8.5, 8.4, 8.3]
        laravel: [12.*]
        stability: [prefer-lowest, prefer-stable]
        include:
          - laravel: 12.*
          - testbench: 10.*
          - carbon: ^2.63

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" "nesbot/carbon:${{ matrix.os == 'windows-latest' && '^^^' || '' }}${{ matrix.carbon }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: List Installed Dependencies
        run: composer show -D

      - name: Execute tests
        run: vendor/bin/pest --ci
